<h2>Portfolio</h2>

<div class="port-page">
    <div class= "portt">
    <div class="port-container">
        <div class="port-img">
            <img src="./img/flutterblum.jpg" alt="flutterblum-website"/>
            <figcaption>Flutter Blum Plant
            </figcaption>
        </div>
    </div>
    </div>

    

    <div class="port-container">
        <div class= "portt">
        <div class="port-img">
            <img src="./img/triton.jpg" alt="Triton Legal website"/>
            <figcaption>Triton Legal Services
            </figcaption>
        </div>
    </div>
    </div>

    

    <div class="port-container">
        <div class= "portt">
        <div class="port-img">
            <img src="./img/kaza.jpg" alt="Kaza-website"/>
            <figcaption>Kaza Talent Discovery
            </figcaption>
        </div>
    </div>
    </div>

    

    <div class="port-container">
        <div class= "portt">
        <div class="port-img">
            <img src="./img/squiggle.jpg" alt="squiggle-website"/>
            <figcaption>Squiggle
            </figcaption>
        </div>
    </div>
    </div>

   

    <div class="port-container">
        <div class= "portt">
        <div class="port-img">
            <img src="./img/penta.jpg" alt="Pentafarm-website"/>
            <figcaption>Penta-farm Enterprise
            </figcaption>
        </div>
    </div>
    </div>

    

    <div class="port-container">
        <div class= "portt">
        <div class="port-img">
            <img src="./img/rangers.jpg" alt="rangers fountain website"/>
            <figcaption>Rangers Fountain Website
            </figcaption>
        </div>
    </div>
    </div>
</div>